.row{
    display: flex;
    gap: 5px;
}

.tile{
    width: 60px;
    height: 60px;
    border: 2px solid rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
}